#dir
.cache/*
.local/*
.python_history/*
.history/
media/
staticfiles/

#file
.env
docker_tutorial.txt
.python_history
.bash_history
error.txt

#django
*.log
*.pyc
__pycache__/
db-volumes/
db.sqlite3
*/migrations/*