#dir
.cache/*
.local/*
.python_history/*
.history/
media/
staticfiles/
static/images/output_images/
static/images/input_images/

#file
.env
docker_tutorial.txt
.python_history
.bash_history
error.txt

#django
*.log
*.pyc
__pycache__/
db-volumes/
db.sqlite3
*/migrations/*