{% extends 'base.html' %}
{% load static %}
<!-- {% block title %}
{% endblock %} -->

{% block content %}
<div class="image-grid">
    <a href="{% url 'blog:self_introduction' %}">
        <img class="hover-image" src='{% static "images/test.png" %}' alt="表示できません">
    </a>
    <a href="{% url 'blog:self_introduction' %}">
        <img class="hover-image" src='{% static "images/test.png" %}' alt="表示できません">
    </a>
    <a href="{% url 'blog:self_introduction' %}">
        <img class="hover-image" src='{% static "images/test.png" %}' alt="表示できません">
    </a>
    <a href="{% url 'blog:self_introduction' %}">
        <img class="hover-image" src='{% static "images/test.png" %}' alt="表示できません">
    </a>
    <a href="{% url 'blog:self_introduction' %}">
        <img class="hover-image" src='{% static "images/test.png" %}' alt="表示できません">
    </a>
    <a href="{% url 'blog:self_introduction' %}">
        <img class="hover-image" src='{% static "images/test.png" %}' alt="表示できません">
    </a>
</div>

{% endblock %}
